@font-face {
    font-family: 'Orbitron';
    src: url('fonts/orbitron-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #0B0D0E;
    overflow: hidden;
}

#progress-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

#progress-bar {
    height: 100%;
    width: 100%;
    background-color: #ff8c00;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.text-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 7em;
    margin-bottom: -40px;
    letter-spacing: 4px;
}

p {
    font-size: 3em;
}